<div class="page-profile">
    <img class="profile-avatar" src="{{avatar}}" alt="avatar" width="100px" height="100px">
    <form action="" class="profile-form__form">
        {{{firstNameField}}}
        {{{secondNameField}}}
        {{{displayNameField}}}
        {{{loginField}}}
        {{{emailField}}}
        {{{phoneField}}}
        {{{button}}}
    </form>
</div>