<div class="registration">
    <div class="registration__title">
        <h3>Registration</h1>
    </div>

    <form action="" class="registration__form">
        {{{firstNameField}}}
        {{{secondNameField}}}
        {{{loginField}}}
        {{{emailField}}}
        {{{passwordField}}}
        {{{phoneField}}}
        {{{button}}}
    </form>

    <a href=""> Enter</a>
</div>